.about {
	display: flex;

	&__content {
		margin-top: 96px;
		padding-left: 123px;
	}

	&__title {
		margin-bottom: 25px;

		font: 400 16px/ 167.5% 'Open Sans';
	}
	&__item {
		position: relative;

		margin-bottom: 16px;
		padding-left: 18px;
		font: 700 16px/ 167.5% 'Arca Majora 3' sans-serif; // i can't find this font from google fonts

		&::before {
			position: absolute;
			left: 0px;
			content: url('../../assets/line.svg');
		}
	}

	@media only screen and (max-width: 1120px) {
		&__img {
			width: 500px;
			height: 420px;
		}
		&__content {
			padding-left: 61px;
		}
	}
	@media only screen and (max-width: 992px) {
		&__img {
			width: 400px;
			height: auto;
		}
		&__content {
			padding-left: 30px;
		}
	}
	@media only screen and (max-width: 768px) {
		flex-direction: column;
		&__img {
			width: 100%;
			height: auto;
		}
		&__content {
			padding-left: 0;
			margin-top: 24px;
		}
		&__title,
		&__item {
			font-size: 12px;
		}
	}
}
