.header {
	background: #fbfbfb;

	padding-bottom: 17px;
	&__top {
		text-align: center;
		padding: 10px 0;

		font: 300 12px/168% 'Oswald';

		text-align: center;
		letter-spacing: 0.16em;
		text-transform: uppercase;

		/* Primary/Black */

		color: #000000;
	}

	.nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 17px;

		&__hamburger {
			display: none;
		}

		&__list {
			display: flex;
			gap: 40px;
		}
		&__item {
			font: 400 12px/140% 'Open Sans';
			letter-spacing: 0.175em;
			text-transform: uppercase;
			border-bottom: 1px solid transparent;

			color: #000000;
			transition: border 0.2s linear;

			cursor: pointer;

			&--active,
			&:hover,
			&:visited {
				color: #120000;
				border-bottom: 1px solid #000000;
			}
		}

		&__icons {
			display: flex;
			gap: 19px;
		}
	}

	.mobile-nav {
		display: none;
	}

	// responsive
	@media only screen and (max-width: 992px) {
		.nav {
			&__list {
				gap: 20px;
			}
			&_icons {
				gap: 10px;
			}
		}
	}
	@media only screen and (max-width: 768px) {
		.nav {
			&__list {
				display: none;
			}
			&__icons svg:first-child,
			&__icons svg:nth-child(2) {
				display: none;
			}
			&__hamburger {
				display: block;
			}
		}

		.mobile-nav {
			position: fixed;
			left: 0;
			top: 0;
			width: 90vw;
			height: 100vh;

			display: block;

			background-color: #fff;

			transform: translateX(-100%);
			transition: all 0.2s ease-in;
			opacity: 0.7;
			z-index: 100;

			.exit-icon {
				position: absolute;
				right: 30px;
				top: 30px;
			}
			* {
				color: #000000;
			}
			.mobile__list {
				height: 100vh;
				display: flex;
				justify-content: center;
				flex-direction: column;
				align-items: center;
				gap: 50px;
			}
			.mobile__item {
				font-size: 2rem;
			}

			&--active {
				opacity: 1;
				transform: translateX(0);
			}
		}
	}
}
