.main {
	position: relative;
	.line1,
	.line2,
	.line3 {
		position: absolute;
		top: 0;

		width: 2px;
		height: 100%;

		background-color: #000;
		opacity: 0.2;
		border: 1px solid #c2a578;
		z-index: -1;
	}
	.line1 {
		left: 25%;
	}
	.line2 {
		left: 50%;
	}
	.line3 {
		left: 75%;
	}
}
