.swiper-button-prev:after,
.swiper-button-next:after {
	display: none;
}

@media only screen and (max-width: 768px) {
	.swiper-button-prev:after,
	.swiper-button-next:after {
		display: block;
	}

	.swiper-button-next:after {
		content: url('../../assets/arrow-right.png');
	}
	.swiper-button-prev:after {
		content: url('../../assets/arrow-left.png');
	}
}
